body {
  margin: 0;
  font-family: sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.App{
  width: 300px;
  margin: auto;
}
h1{
  color: #FDF200;
  font-size: 2rem;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1rem;
  cursor: pointer;
}
button:hover{
  color: #fff;
  border-color: #fff;
}
.content{
  text-align: center;
}
.card{
  padding: 8px 25px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
  text-align: left;
}
.card p{
  margin: 6px 0;
  color: #999;
}
.card h3{
  margin: 10px 0;
  color: #FDF200;
}
button:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}